* {
    padding : 0;
    box-sizing:border-box;
    margin : 0;
}
#content{
    display : flex;
    height : 1000hv;
    position : absolute;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    min-height: 100hv;
}
#main-bar{
    background-color : #E2A650;
    color : #A73918;
    width : 80%;
    padding : 30px;
}
#side-bar{
    background-color : #E2B864;
    width: 20%;
}
#articles-list{
    margin : 10px;
}
h1{
    text-align : center;
}
h2{
    margin-top : 10px;
}
h3{
    margin-top : 10px;
}
p{
    font-size: 1.2em;
    margin : 10px;
}
a{
    padding-top :10px;
    text-decoration: none;
    font-size : 1.2em;
    color :  #4E5E17;
}
code {
    background-color : #E2C67E;
    color : #A73918;
}
